<!--{% load static %}-->

<!--<div class="card mb-3" style="max-width: auto;">-->
<!--  <div class="row g-0">-->
<!--    <div class="col-md-2">-->
<!--      <img src="{% static 'images/footer_img.png' %}" height="200px" width="200px" class="img-fluid rounded-start" alt="Order Management System">-->
<!--    </div>-->
<!--    <div class="col-md-10">-->
<!--      <div class="card-body">-->
<!--        <h5 class="card-title">Order Management System</h5>-->
<!--        <p class="card-text">-->
<!--          Streamline your business operations with an all-in-one Order Management System. Manage orders, products, customers, inventory, returns, integrations, and secure payments from one centralized platform.-->
<!--        </p>-->
<!--        <p class="card-text">-->
<!--          <small class="text-body-secondary">Last updated 3 mins ago</small>-->
<!--        </p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<h1>Footer</h1>