{% extends 'static_pages/base_account.html' %}
{% block start %}
<div class="row mt-5">
    <div class="col-md-12">
        <hr>
           <table class="table">
              <thead>
                 <tr>
                     <th>Product</th>
                      <th>Category</th>
                      <th>Price</th>
                 </tr>
              </thead>
               <tbody>
                    {% for product in products %}
                     <tr>
                        <td>{{product.name}}</td>
                        <td>{{product.category}}</td>
                         <td>{{product.price}}</td>
                     </tr>
                    {% endfor %}
               </tbody>
           </table>
    </div>
</div>

{% endblock %}
